


  .text {
    font-size: 2rem;
  }
  
  .highlight-red {
    color: #db3d3b;
  }
  .highlight-orange {
    color: rgba(211, 111, 54, 0.8);
  }
  .highlight-pink {
    color: blueviolet;
  }
  .highlight-blue {
    color: #3c83d4;
  }


  